<%= render 'form' %>

<h3>Repayment Plans</h3>
<h4>Platinum Plan: One year after completion of your chosen program you will repay 110% of the requested amount in a single payment.</h4>
<h4>Gold Plan: Six months after completion of your chosen program you will repay 115% of the requested amount over 1 year in 12 monthly installments.</h4>
<h4>Bronze Plan: Six months after completion of your chosen program you will repay 120% of the requested amount over 5 years in 60 monthly installments.</h4>
