<%= render 'form' %>
<br>
<br>
<div class="well wellRepayment whiteText">
  <h4>Repayment Plans</h4>
  <h5>Platinum Plan: One year after completion of your chosen program you will repay 110% of the requested amount in a single payment.</h5>
  <h5>Gold Plan: Six months after completion of your chosen program you will repay 115% of the requested amount over 1 year in 12 monthly installments.</h5>
  <h5>Bronze Plan: Six months after completion of your chosen program you will repay 120% of the requested amount over 5 years in 60 monthly installments.</h5>
</div>
