<%= link_to home_index_path do %>
	<div id="bg">
  		<img src="http://i.huffpost.com/gen/2482216/images/o-DIVERSE-COLLEGE-CLASSROOM-facebook.jpg" alt="">
	</div>
<% end %>

<div class="landingCaption">
	<h1 class="landingTitle">   Code Scholarships</h1>
	<h2 class="landingPhrase">GROW + TOGETHER</h2>
</div>

<a href="#top" class="cd-top"><img src="http://www.clipartlord.com/wp-content/uploads/2014/09/robot29.png" alt="CS ROBOT" class="landingRobot" /></a>
