<%= link_to home_index_path do %>
	<div id="bg">
  		<img src="http://i.huffpost.com/gen/2482216/images/o-DIVERSE-COLLEGE-CLASSROOM-facebook.jpg" alt="">
	</div>
<% end %>

<div class="landingCaption">
	<h1 class="landingTitle">Code Scholarships</h1>
	<h2 class="landingPhrase"><strong>GROW + TOGETHER</strong></h2>
</div>
