<div class="">
	<iframe src="http://clccharter.org/sarah1/images/Robot_dance_by_C_Puff.gif" width="700" height="800" frameBorder="0" style="max-width: 100%" class="giphy-embed" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>