<h4><%= @user.username %>!</h4>

<p>
  Congratulations! Thanks to generous sponsors your scholarship request has been fulfilled. Visit codescholarships.com to claim your scholarship. Your coding dreams are about to begin.
</p>

<img src="https://secure.static.tumblr.com/d565b553ecb8ab35f67bd7f6563faba0/9gfoptx/2MYnqglf5/tumblr_static_tumblr_static_f21idkut08owkoc80cssw8c00_640.jpg"></img>
