/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap-sprockets';
 @import 'bootstrap';

/* LANDING PAGE */

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index: 1;
}

.landingTitle {
  position: relative;
  color: white;
  font-size: 360%;
  left: 225px;
  font-family: 'Coda', cursive;
}

.landingCaption {
  position: absolute;
  z-index: 100;
  color: #fb8a2e;
  font-size: 150%;
  top: 700px;
  left: 450px;
  background-color: #136ad5;
  width: 1000px;
  height: 200px;
  padding-top: 15px;
  opacity: .95;
  border-radius: 25px;
}

.landingPhrase {
  text-align: center;
  font-size: 155%;
}
.landingRobot {
  top: 730px;
  left: 580px;
  position: absolute;
  width: 70px;
  z-index: 100;
}

/* NAVBAR */

.navbar-header {
  font-family: 'Coda', cursive;
}

.navbar-brand {
  background-color: #136ad5;
  color: white;
}

.navbar-settings a:hover {
  background-color: #136ad5;
  color: #fb8a2e;
}

.navbar-settings {
  background-color: #136ad5;
  color: white;
}

.navbar-nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.navbar-nav {
  position: relative;
  top: 15px;
  list-style: none;
}

.profile-picture {
  position: relative;
  background-color: white;
  width: 30px;
  height: 30px;
  bottom: 4px;
}

/* BUTTONS */

.btn-request {
  position: relative;
  background-color: #fb8a2e;
  color: white;
  bottom: 4px;
}

/* PROGRESS BARS */

.progress-bar {
  background-color: #fb8a2e;
}

/* REGISTRATION PAGE*/

.wellSignup {
  position: relative;
  background-color: #fb8a2e;
  width: 500px;
  text-align: center;
  top: 50px;
  left: 28%;
}

/* SCHOLARSHIP LISTING BLOCK */

.listingWell {
  background-color: white;
}

.listingPicture {
  position: relative;
  width: 120px;
  bottom: 80px;
}

.descriptionWidth {
  max-width: 450px;
}

.csRobot {
  position: fixed;
  width: 150px;
}

.csRobotWell {
  position: relative;
  right: 200px;
  display: none;
}

.cs_text_bubble {
  position: fixed;
  right: 420px;
  top: 370px;
  display: none;
}

.headerRobot {
  position: absolute;
  top: 6px;
  left: 335px;
  width: 1.5%;
}

.alertCenter {
  position: relative;
  text-align: center;
}

/* DONATION PAGES */

.btnWhite {
  background-color: white;
  color: #136ad5;
}

.wellDonation {
  position: relative;
  top: 50px;
  background-color: #fb8a2e;
  width: 500px;
  text-align: center;
  color: white;
  top: 200px;
  left: 28%;
}