<h4><%= @user.username %>!, </h4>

<p>
  Congratulations! Your scholarship request has been accepted. You are one step closer to achieving your dreams of becoming a rockstar coder.
</p>

<img src='http://c.fastcompany.net/multisite_files/fastcompany/imagecache/slideshow_large/slideshow/2015/05/3046442-slide-s-4-this-startup-pays-african-students.jpg'></img>
