<div class="well listingWell thankyou">
  <%= form_tag  donation_charges_path(@donation) do %>
    <article>
      <label class="amount">
        <span>Amount: $<%= @donation.amount %>.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Scholarship Donation"
            <% correct_amount = @donation.amount * 100 %>
            data-amount="<%= correct_amount %>"></script>
  <% end %>
</div>
